<ul class="comments-list">
    <li class="comment">
        <a class="pull-left" href="#">
            <img class="avatar"
                 src="http://bootdey.com/img/Content/user_1.jpg"
                 alt="avatar">
        </a>
        <div class="comment-body">
            <div class="comment-heading">
                <h4 class="user">{{ comment.username }}</h4>
                <h5 class="time">5 minutes ago</h5>
            </div>
            <p>{{ comment.content }}</p>
        </div>
    </li>
</ul>