{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

   {% block body %}
       <div class="container-fluid gedf-wrapper">
           <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6 gedf-main">
                   <!--Post-->
                   <div class="card gedf-card">
                       <div class="card-header">
                           <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                               <li class="nav-item">
                                   <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                      aria-controls="posts" aria-selected="true">Make a publication</a>
                               </li>
                           </ul>
                       </div>
                       <form id="share-form">
                           <div class="card-body">
                               <div class="tab-content" id="myTabContent">
                                   <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                        aria-labelledby="posts-tab">
                                       <div class="form-group">
                                           <input type="text" class="form-control" id="title" name="title"
                                                  placeholder="Title">
                                       </div>
                                       <div class="form-group">
                                           <textarea class="form-control" id="message" name="description" rows="3"
                                                     placeholder="What are you thinking?"></textarea>
                                       </div>
                                   </div>
                               </div>
                               <div class="btn-toolbar justify-content-between">
                                   <div class="btn-group">
                                       <button type="submit" class="btn btn-primary" id="share">Share</button>
                                   </div>
                               </div>
                           </div>
                       </form>
                   </div>
                   <!--End Post-->

                   <!--Post-->
                   {% for post in posts %}
                       <div class="container">
                           <div class="">
                               <div class="panel panel-white post panel-shadow">
                                   <div class="post-heading">

                                       <div class="pull-left meta">
                                           <div class="title h5">
                                               <a href="#"><b>{{ post.username }}</b></a>
                                           </div>
                                           <h6 class="text-muted time">1 minute ago</h6>
                                       </div>
                                   </div>

                                   <div class="post-description">
                                       <a class="card-link" href="#">
                                           <h5 class="card-title">{{ post.title }}</h5>
                                       </a>
                                       <p>{{ post.description }}</p>
                                       <div class="stats">
                                           <button {% if post.like is not empty %}
                                                   {% for like in post.like %}
                                               {% if like.user_id == post.user_id %}
                                                   data-selected="true"
                                                   class="add_to_list btn btn-info stat-item"
                                               {% elseif  like.user_id == app.session.get('user').id %}
                                                   data-selected="true"
                                                   class="add_to_list btn btn-info stat-item"
                                               {% else %}
                                                   data-selected="false"
                                                   class="add_to_list btn btn-default stat-item"
                                               {% endif %}
                                           {% endfor %}
                                                   {% else %}
                                                       data-selected="false"
                                                       class="add_to_list btn btn-default stat-item"
                                                   {% endif %}
                                                   name="like" data-post="{{ post.id }}">
                                               <i class="fa fa-thumbs-up icon"></i>
                                               <a id="count-like">{{ post.like|length }}</a>
                                           </button>
                                       </div>
                                   </div>
                                   <div class="post-footer">
                                       <div class="input-group">
                                           <input class="form-control" placeholder="Add a comment" type="text"
                                                  name="comment-content">
                                           <a class="input-group-addon">
                                               <a href="#" id="comment-submit" data-comment-post="{{ post.id }}"><i
                                                           class="fa fa-paper-plane"></i></a>
                                           </a>
                                       </div>
                                       {% for comment in post.comment %}
                                           <ul class="comments-list">
                                               <li class="comment">
                                                   <a class="pull-left" href="#">
                                                       <img class="avatar"
                                                            src="http://bootdey.com/img/Content/user_1.jpg"
                                                            alt="avatar">
                                                   </a>
                                                   {% if app.session.get('user').id == comment.user_id %}
                                                       <button id="remove-comment" data-comment-id="{{ comment.id }}"
                                                               class="btn btn-primary btn-sm pull-right">
                                                           Delete
                                                       </button>
                                                   {% endif %}
                                                   <div class="comment-body">
                                                       <div class="comment-heading">
                                                           <h4 class="user">{{ comment.username }}</h4>
                                                           {# <h5 class="time">5 minutes ago</h5>#}
                                                       </div>
                                                       <p>{{ comment.content }}</p>
                                                   </div>

                                               </li>

                                           </ul>
                                       {% endfor %}
                                   </div>
                               </div>
                           </div>
                       </div>
                   {% endfor %}
                   <!--End Post-->
               </div>
               <div class="col-md-3"></div>
           </div>
       </div>
   {% endblock %}
