{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
   {% block body %}
       <main class="my-form">
           <div class="cotainer">
               <div class="row justify-content-center">
                   <div class="col-md-8">
                       <div class="card">
                           <div class="card-header">Login</div>
                           <div class="card-body">
                               <form name="my-form" method="POST">
                                   <div class="form-group row">
                                       <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
                                       <div class="col-md-6">
                                           <input type="text" id="user_name" class="form-control" name="username">
                                       </div>
                                   </div>
                                   <div class="form-group row">
                                       <label for="password"
                                              class="col-md-4 col-form-label text-md-right">Password</label>
                                       <div class="col-md-6">
                                           <input type="password" id="password" name="password" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6 offset-md-4">
                                       <button type="submit" class="btn btn-primary">Login</button>
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

       </main>
   {% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        function validform() {
            var a = document.forms["my-form"]["full-name"].value;
            var b = document.forms["my-form"]["email-address"].value;
            var c = document.forms["my-form"]["username"].value;
            var d = document.forms["my-form"]["permanent-address"].value;
            var e = document.forms["my-form"]["nid-number"].value;

            if (a == null || a == "") {
                alert("Please Enter Your Full Name");
                return false;
            } else if (b == null || b == "") {
                alert("Please Enter Your Email Address");
                return false;
            } else if (c == null || c == "") {
                alert("Please Enter Your Username");
                return false;
            } else if (d == null || d == "") {
                alert("Please Enter Your Permanent Address");
                return false;
            } else if (e == null || e == "") {
                alert("Please Enter Your NID Number");
                return false;
            }

        }
    </script>
{% endblock %}